<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <center>
        <a href='war_picks'>Click here for war picks</a>
        <br>

        <table cellpadding="1" cellspacing="1" border="1">
        <tr>
            <td>TH</td>
            <td>Name</td>
            <td>Percentage<br>Missed</td>
            <td>Average<br>Stars</td>
            <td>Rating<br>Score</td>
        </tr>

        {% for member in data%}
        <tr>
            {% for value in member%}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

        </table>
        <p>* filtered data is empty, no recent attacks. Using player lifetime values</p>
        <p>{{ load_file }} was last updated: {{ last_modified }}</p>
    </center>
</body>
</html>